

.nuwiki_title			{ font-family:Georgia,Arial,Serif; font-size:1.2em; font-weight:bold; }
.nuwiki_title h1		{ font-weight: bold; border: none; padding: 0px; margin: 0px; }

a.nuwiki_button, 
a.nuwiki_button:visited	{	background:transparent url(button_bg.png) repeat-x scroll 0% 50%;
							border:1px solid #CCCCCC; color:#C64934; /*font-family:Arial,Hevlvetica,sans-serif;*/
							font-size: 12px; font-weight:bold; height:16px !important; /*line-height:26px !important;*/
							margin: 4px; padding: 2px 6px; text-align:center; width:auto; }

.nuwiki_diff_add		{	color:red; background: #CCFFCC; }
.nuwiki_diff_delete		{	color:red; background: #FFFFAA; }

a.nuwiki_link			{text-decoration: none; border-bottom: 1px dashed blue; }
a.nuwiki_new_link:link, 
a.nuwiki_new_link:visited	{ color: red; }

.nuwiki_toc ul			{ margin: 0px 0px 0px 5px; }
.nuwiki_toc li			{ margin: 0px; margin-bottom: 0.1em; }
.nuwiki_toc_title h2	{ border: none; margin: 0px; }

.nw_toc_number			{ margin-right: 5px; }
.nw_book_nav			{ text-align: center; clear:both; }

.nuwiki_article	td		{ background: #FFF0D3; }

.nuwiki_top_link		{ display: block; float: right; font-size: 10px; font-weight:normal; margin: 0px; padding: 0px; }

.nuwiki_keywords		{ font-size: 80%; color: #A0A0A0; }


.nuwiki_fh_content			{ background-color: #FFFFC0; }
.nuwiki_fh_content a		{ color: blue; }

a.nuwiki_autolink_book,
nuwiki_autolink_book:visited,
a.nuwiki_autolink,
a.nuwiki_autolink:visited 	{ text-decoration: none; border-bottom: 1px dashed blue; }

.nuwiki_autolink_preview	{ width: 100%;  }
.nuwiki_autolink_preview td	{ vertical-align: top; }
.nuwiki_autolink_preview_readmore	{ text-align: right; }
.nuwiki_autolink_content	{  }
.nuwiki_message_body		{ /* width: 100%; */ }

.nuwiki_index_ctr			{ }
.nuwiki_index_ctr h3		{ border: none; }
.nuwiki_title h1            { font-size: 12px; }
.nw_toc_active_chapter      { font-weight: bold; }


.nuwiki_footnote a			{ font-size: 75%; }
.nuwiki_footnote_list		{ padding-left: 40px; border-top: 1px solid #C0C0C0; margin-top: 15px; }