/*======================================================================*\
|| #################################################################### ||
|| # vBulletin 3.8.1
|| # ---------------------------------------------------------------- # ||
|| # Copyright ©2000-2009 Jelsoft Enterprises Ltd. All Rights Reserved. ||
|| # This file may not be redistributed in whole or significant part. # ||
|| # ---------------- VBULLETIN IS NOT FREE SOFTWARE ---------------- # ||
|| # http://www.vbulletin.com | http://www.vbulletin.com/license.html # ||
|| #################################################################### ||
\*======================================================================*/

/* Definitions we expect */
form {
	margin: 0px;
}

label {
	cursor: default;
}

.normal {
	font-weight: normal;
}

.inlineimg {
	vertical-align: middle;
}

.underline {
	text-decoration: underline;
}

.vbmenu_hilite * {
	cursor: pointer;
}

/* Auto-clearing of floats */
.floatcontainer:after, .block_row:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.floatcontainer, .block_row {
	display: inline-block;
}
/* IE-Mac hide \*/
* html .floatcontainer, * html .block_row {
	height: 1%;
}
.floatcontainer, .block_row {
	display: block;
}
/* End IE-Mac hide */

.cat_foto {
	padding: 0 0 0 0px;
    font-family: Verdana, sans-serif;
    font-size: 12px;
	font-weight: bold;
    font-style: normal;
    text-transform: normal;
    letter-spacing: normal;
    line-height: 1.5em;
    color: #333333;
	margin: 0 0 6px 0;
}
	.cat_foto a {
		font-size: 12px;
        color: #000000;
        text-decoration: none;
	}
	.cat_foto a:hover {
		text-decoration: underline;
	}
	.cat_foto span {
		font-size: 9px;
		padding: 0 0 0 4px;
	}
 
  .subcat_foto  { 
color: rgb(48, 48, 48);
font-size: 11px;
text-decoration: none;
 }
 
 .subcat_foto a { 
color: rgb(48, 48, 48);
font-size: 11px;
text-decoration: none;
 }
 
 .subcat_foto a:hover { 
text-decoration: underline;
 }

/*======================================================================*\
|| ####################################################################
|| # NulleD - FintMax
|| # CVS: $RCSfile$ - $Revision: 15827 $
|| ####################################################################
\*======================================================================*/